<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruit Detection</title>
    <!-- Tambahkan favicon -->
    <link rel="icon" href="/static/css/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <div class="header-content">
            <img src="/static/css/logo.jpg" alt="Logo" class="logo">
            <h1>Fruit Detection</h1>
        </div>
    </header>
    <div class="container">
        <h2>Upload your fruit image</h2>
        <img src="/static/css/buah.jpg" alt="Fruit Example" class="fruit-image">
        <div class="content-box">
            <form id="uploadForm" enctype="multipart/form-data" class="form-inline">
                <input class="input-file" type="file" name="file" id="fileInput" accept="image/*">
                <button class="btn" type="submit">Predict</button>
            </form>
            <div id="output" class="result">
                <!-- Hasil prediksi akan muncul di sini -->
            </div>
        </div>
    </div>
    <footer></footer>

    <script>
        const form = document.getElementById('uploadForm');
        const fileInput = document.getElementById('fileInput');
        const outputDiv = document.getElementById('output');

        form.onsubmit = async (event) => {
            event.preventDefault();
            const formData = new FormData(form);

            // Tampilkan gambar yang diunggah
            const file = fileInput.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = () => {
                    outputDiv.innerHTML = `
                        <img src="${reader.result}" alt="Uploaded Image" class="uploaded-image">
                    `;
                };
                reader.readAsDataURL(file);
            }

            // Kirim file ke server untuk prediksi
            const response = await fetch('/predict', {
                method: 'POST',
                body: formData
            });

            const data = await response.json();
            if (data.error) {
                outputDiv.innerHTML += `<p class="error">${data.error}</p>`;
            } else {
                outputDiv.innerHTML += `<p>Predicted class: <span>${data.class}</span></p>`;
            }
        };
    </script>
</body>
</html>
